@{
    ViewData["Title"] = "Application Submitted";
}

<div class="text-center mt-5">
    <h2>Your permit application has been submitted.</h2>
    <p>Thank you! The district will review your request.</p>

    <a href="/" class="btn btn-primary mt-3">Return Home</a>
</div>
